{% extends 'base.html' %}
{% load static %}

{% block title %}FoodPlan - Название рецепта{% endblock %}

{% block nav_buttons %}
<a href="{% url 'index' %}" class="btn btn-outline-success me-2 shadow-none foodplan_green foodplan__border_green">Назад</a>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 d-flex justify-content-center">
                <div class="card foodplan__card_borderless">
                    <img src="{% static 'img/circle1.png' %}" alt="Рецепт">
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
                <h2>Название рецепта</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ингредиент (500г.)</li>
                    <li class="list-group-item">ингредиент (500г.)</li>
                    <li class="list-group-item">ингредиент (500г.)</li>
                    <li class="list-group-item">ингредиент (500г.)</li>
                    <li class="list-group-item">ингредиент (500г.)</li>
                </ul>
                <h6>Общая калорийность: 1000 ккал</h6>
            </div>
        </div>
    </div>
</section>
{% endblock %}